@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

header{
    width: 90%;
    margin: auto;
}

header img{
    height: 40px;
    width: auto;
    padding-top: 2em;

}

main{
    width: 90%;
    margin: auto;
}

h1{
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 5em;
    font-weight: 400;
    line-height: 0.8em;
}

h1 span {
    font-weight: bold;
}

h2{
  color: #D20094;
  font-family: "Outfit", sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.2em;  
}

p{
 margin-top: 0;
 margin-bottom: 3em;   
}

li{
    line-height: 1.8em;  
}

li span{
    font-weight: bold; 
    
}

section {
    width: 100%;
    position: relative; /* Per permettere l'uso di position: absolute */
    margin-top: 4em;
    margin-bottom: 6em;
}

label {
    display: inline-block; /* Rende la label un elemento inline-block per un posizionamento corretto */
    margin-right: auto; /* Spinge la label a sinistra */
}


#buttonwelcomepage {
    position: absolute; /* Posiziona il bottone in modo assoluto */
    right: 0; /* Posiziona il bottone al bordo destro */
    padding: 1em 3em;
    font-size: 1.2em;
    font-weight: 700;
    margin: auto;
    background-color: #00ffff;
    color: black;
    cursor: pointer;
    box-shadow: 1px 1px 23px 5px #00FFFF;
    transition: all 0.3s ease;
    border-style:initial;
}

/* PAGINA BENCHMARK */

#question {
    padding: 0 15%;
    font-size: 3.5em;
    line-height: 1em;
    margin: 0;
}

#answers {
    padding: 2% 15%;
    text-align: center;
}

.answer {
    background-color: #d2009327;
    color: white;
    width: 25em;
    height: 5em;
    margin: 2%;
    border: solid rgba(255, 255, 255, 0.189);
    border-radius: 5em;
    font-weight: bold;
}

#timer {
    text-align: center;
    font-size: 3em;
}

header div {
    border: 12px solid #00ffff ;
    border-radius: 50%;
    margin-left: 90%;
    width: 1.25em;
    height: 1.25em;
}

main #numeroDomanda {
    text-align: center;
    font-family: "Outfit", sans-serif;
    padding: 3em 0;
    font-weight: 500;
}

#mainpag3{
    width: 70%;
    margin: auto;
    text-align: center;
    position: relative; 
    height: auto;
    text-align: center;
}

#sezionecentrale {
    margin: 3em 0;
}

#titolopag3 {
    text-align: center;
    margin-bottom: 0;
}

#sottotitolopag3 {
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

#spaziocorrette, #spaziosbagliate {
  color: white;
  float: left; 
  width: 20%; 
  text-align: left;
  font-size: 3em;
  font-weight: 300;
  line-height: 1.5; 
  margin-top: 0;
  vertical-align: middle;
  padding-top: 1.6em;
  line-height: 1.2em;
}

#correct, #wrong {
    font-weight: bold;
}

#spaziosbagliate {
    float: right;
    text-align: right;
  }

#congr {
    color: white;
    margin: 0 auto;
    width: 70%; 
    text-align: center; 
    display: inline-block;
    vertical-align: middle; 
    padding-top: 2.7em;
  }
#cerchio {
    text-align: center;
    border: 30px solid #00ffff ;
    border-radius: 50%;
    width: 12em;
    height: 12em;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
   }
  
  #congr1 {
    margin: 0; 
    font-size: 1em;
    line-height: 1.5;
  }
  
  #congr3 {
      font-weight: 400;
      font-size: 0.6em;
  }
  
  #congr2 {
    color: #00FFFF;
    margin: 0; 
    font-size: 0.8em;
    line-height: 1.5;
    margin-bottom: 0.8em;
  }

#buttonrate {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 5em;
    padding: 0.8em 3em;
    font-size: 1.2em;
    font-weight: 700;
    background-color: #d2009327;
    color: white;
    cursor: pointer;
    border: 2px solid white;
}